:root {
  --lavendar: #f8a4d8;
  --cornflower-blue: #6363ff;
  --lozlington: #6565ffe1;
  --grey: #5a6170;
  --gull-gray: #9da6b8;
  --alto: #dadfea;
  --snow-white: #ffffff;
  --background-blue: #065ebd;
  --shnookums: #43a3af;
  --space-mountain: #131424;
}

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--space-mountain);
  font-family: "Noto Sans JP", sans-serif;
}

.Navbar {
  background-color: var(--lozlington);
}

.brand_img {
  width: 55%;
}

.nav-link {
  color: var(--alto);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--lavendar);
}

.trading-image {
  width: 60%;
}

.header-container {
  background-color: var(--shnookums);
  padding: 30px 0px 0px;
}

.price-points-header {
  color: white;
  padding: 25px;
}
